@font-face {
  font-family: GT America;
  src: url(./fonts/GT-America-Standard-Regular.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 400
}

@font-face {
  font-family: GT America;
  src: url(./fonts/GT-America-Standard-Regular-Italic.woff2) format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 400
}

@font-face {
  font-family: GT America;
  src: url(./fonts/GT-America-Standard-Medium.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 500
}

@font-face {
  font-family: GT America;
  src: url(./fonts/GT-America-Standard-Medium-Italic.woff2) format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 500
}

@font-face {
  font-family: GT America;
  src: url(./fonts/GT-America-Standard-Bold.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 700
}

@font-face {
  font-family: GT America;
  src: url(./fonts/GT-America-Standard-Bold-Italic.woff2) format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 700
}

@font-face {
  font-family: GT America Condensed;
  src: url(./fonts/GT-America-Condensed-Bold.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 700
}

@font-face {
  font-family: GT America Condensed;
  src: url(./fonts/GT-America-Condensed-Bold-Italic.woff2) format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 700
}

@font-face {
  font-family: GT America Mono;
  src: url(./fonts/GT-America-Mono-Regular.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 40
}

@font-face {
  font-family: GT America Mono;
  src: url(./fonts/GT-America-Mono-Medium.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 500
}

@font-face {
  font-family: GT America Mono;
  src: url(./fonts/GT-America-Mono-Bold.woff2) format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 700
}
